    <% layout('layouts/boilerplate')%>
    <h1>ALL PDFs</h1>
    <div>
        <a href="/pdfs/new">Add New</a>
    </div>
    <% for (let campground of campgrounds){%>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.image.length) {%>
                    <img class="img-fluid" src="https://i.pinimg.com/originals/f7/90/15/f79015eb40067aed28ebf6f38a04a1d7.gif">
                    <% } else {%>
                     <img class="img-fluid" src="https://i.pinimg.com/originals/f7/90/15/f79015eb40067aed28ebf6f38a04a1d7.gif">
                     <% }%>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.title %> </h5>
                        <p class="card-text"><%= campground.description %></p>
                        <a class="btn btn-primary" href="/pdfs/<%=campground._id%>">View PDF</a>
                    </div>
                </div>
            </div>
            </div>
        <% }%>
       
    
    
